@import "tailwindcss";
@plugin "@tailwindcss/typography";

@theme {
  /* Catppuccin Mocha color palette */
  --color-ctp-base: #1e1e2e;
  --color-ctp-mantle: #181825;
  --color-ctp-crust: #11111b;

  --color-ctp-surface0: #313244;
  --color-ctp-surface1: #45475a;
  --color-ctp-surface2: #585b70;

  --color-ctp-overlay0: #6c7086;
  --color-ctp-overlay1: #7f849c;
  --color-ctp-overlay2: #9399b2;

  --color-ctp-subtext0: #a6adc8;
  --color-ctp-subtext1: #bac2de;
  --color-ctp-text: #cdd6f4;

  /* Accent colors */
  --color-ctp-lavender: #b4befe;
  --color-ctp-blue: #89b4fa;
  --color-ctp-sapphire: #74c7ec;
  --color-ctp-sky: #89dceb;
  --color-ctp-teal: #94e2d5;
  --color-ctp-green: #a6e3a1;
  --color-ctp-yellow: #f9e2af;
  --color-ctp-peach: #fab387;
  --color-ctp-maroon: #eba0ac;
  --color-ctp-red: #f38ba8;
  --color-ctp-mauve: #cba6f7;
  --color-ctp-pink: #f5c2e7;
  --color-ctp-flamingo: #f2cdcd;
  --color-ctp-rosewater: #f5e0dc;

  /* Font family */
  --font-sans: "Roboto", sans-serif;
}
