---
import BaseLayout from '../layouts/BaseLayout.astro';
---

<BaseLayout pageTitle="Tom Hanover" description="Personal website of Tom Hanover">
	<div class="flex flex-col justify-center min-h-[calc(100vh-80px)]">
		<div class="flex justify-center p-6">
			<img class="rounded-full flex w-32 sm:w-40 md:w-48 lg:w-56 content-center justify-center" alt="profile picture" loading="lazy" decoding="async" src="/img/profile.jpeg" width="600" height="590" />
		</div>
		<div class="flex justify-center">
			<p class="font-bold text-2xl sm:text-3xl md:text-4xl lg:text-5xl">
				Tom Hanover
			</p>
		</div>
		<div class="flex justify-center">
			<p class="text-sm sm:text-base md:text-lg pb-10">
				Father of Three, Husband and Software Engineer
			</p>
		</div>
		
		<div class="flex justify-center">
			<div class="flex flex-col sm:flex-row gap-4 sm:gap-6 items-center">
				<a class="w-40 flex justify-start items-center p-3 pl-6 bg-ctp-teal text-ctp-crust shadow-lg rounded-lg hover:bg-ctp-teal/80" href="/blog">
					<img class="fill-black stroke-black size-6" src="/linkIcons/blog.svg" alt="blog icon" />
					<p class="pl-4 text-base">
						Blog
					</p>
				</a>

				<a class="w-40 flex justify-start items-center p-3 pl-6 bg-ctp-teal text-ctp-crust shadow-lg rounded-lg hover:bg-ctp-teal/80" href="https://github.com/thanover">
					<img class="fill-black stroke-black size-6" src="/linkIcons/github.svg" alt="github icon" />
					<p class="pl-4 text-base">
						GitHub
					</p>
				</a>

				<a class="w-40 flex justify-start items-center p-3 pl-6 bg-ctp-teal text-ctp-crust shadow-lg rounded-lg hover:bg-ctp-teal/80" href="https://www.linkedin.com/in/tomhanover/">
					<img class="fill-black stroke-black size-6" src="/linkIcons/linkedin.svg" alt="linkedin icon" />
					<p class="pl-4 text-base">
						LinkedIn
					</p>
				</a>
			</div>
		</div>
	</div>
</BaseLayout>
